// .badge-pet {
//   @extend .badge;
//   background-color: #28a745; // green
//   color: white;
//   margin-right: 4px;
//   border-radius: 8px;
//   padding: 2px 6px;
//   font-size: 0.85em;
// }
// .badge-pet {
//   @extend .badge;
//   background-color: #28a745;
//   color: white;
//   margin: 2px 4px 2px 0;
//   border-radius: 12px;
//   padding: 2px 8px;
//   font-size: 0.8rem;
//   line-height: 1.2;
//   display: inline-block;
// }
.badge-pet {
  //@extend .badge;
  @extend .o_tag;
  display: inline-flex;
  //display: inline-block;
  margin: 2px 4px 2px 0;
  padding: 3px 8px;
  //font-size: 0.75rem;
  font-weight: bold;
  line-height: 1.2;
  border-radius: 14px;
  //background-color: #28a745;
  //color: white;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

